/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Nov-2020, 16:58:51
    Author     : Admin
*/

.slide-right {
  animation: 1s slide-right 0.3s forwards;
    transform:translateX(-117%);
}
.slide-right1 {
  animation: 1s slide-right 0.6s forwards;
    transform:translateX(-117%);
}
.slide-right2 {
  animation: 1s slide-right 0.9s forwards;
    transform:translateX(-117%);
}
.slide-right3 {
  animation: 1s slide-right 1.2s forwards;
    transform:translateX(-117%);
}
.slide-sidebar{
    animation: 0.5s slide-right 0.5s forwards;
    transform:translateX(-117%);
}


@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}
@keyframes slide-right1 {
  to {
    transform:translateX(0);
  }
}
@keyframes slide-right2 {
  to {
    transform:translateX(0);
  }
}
@keyframes slide-right3 {
  to {
    transform:translateX(0);
  }
}
@keyframes slide-sidebar {
  to {
    transform:translateX(0);
  }
}

.slide-project-tab{
    animation: 0.7s slide-project-tab 0.5s forwards;
    transform: translateY(-400%);
}
.slide-project-tab1{
    animation: 0.7s slide-project-tab 0.7s forwards;
    transform: translateY(-400%);
}
.slide-project-tab2{
    animation: 0.7s slide-project-tab 1s forwards;
    transform: translateY(-400%);
}

@keyframes slide-project-tab {
    to {
        transform:translateY(0);
    }
}
@keyframes slide-project-tab1 {
    to {
        transform:translateY(0);
    }
}
@keyframes slide-project-tab2 {
    to {
        transform:translateY(0);
    }
}

